/* =Variables--------------------------*/

/* font style ---*/
$font-tw: '微軟正黑體', 'Noto Sans TC', Helvetica, Arial, '黑體-繁', 'Heiti TC', '儷黑', 'LiHei', 'Microsoft JhengHei', sans-serif;

/* desktop & mobile size */
$min-w: 1140px;
$max-w: 1920px;
$max-mac: 2560px;
$content-w: 1290px;
$ipad-pro: 1024px;
$ipad: 768px;
$i6: 375px;
$i5: 320px;
$i6p: 414px;
$mobile-size: 480px;
$template-w: 1440px;

/* color */
$color-primary: #7FAEBE;
$color-primary-bg: #9BD0E3;
$color-second-bg: #FFF0AA;
$color-warring: #D15E5E;

.text-warring,
.textWarring {
    color: $color-warring !important;
}

/*animation */
$cb: cubic-bezier(.215, .61, .355, 1);
$cb2: cubic-bezier(0.55, 0.055, 0.675, 0.19);
