@import "../setting/_variables.scss";
@import "../setting/_reset.scss"; 
@import "../setting/_mixins.scss"; 

.dashboard {
    padding-top: 1rem;
}

.card {
    background-image: url('../images/bg-atm.png');
    background-color: #fff;
    background-repeat: repeat-x;
    background-position: 50% 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.09);
    border-radius: 0 0 15px 15px;
}


.card-header {
    padding: 2.25rem 0;
    &--title {
        font-size: 0.88rem;
        letter-spacing: 0.03rem;
        text-align: center;
        color: #979797;
        margin-bottom: 0.75rem;
    }
    &--amount {
        font-size: 1.88rem;
        text-align: center;
    }
}

.card-content {
    padding: 2.25rem 0 1.25rem;
    &--title {
        font-weight: bold;
        font-size: 1.13rem;
        letter-spacing: 0.03rem;
        text-align: center;
    }
}

.payment {
    width: 90%;
    margin: 1.75rem auto 0;
    &-item {
        letter-spacing: 0.03rem;
        color: #979797;
        line-height: 1.38rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }
}

.card-footer {
    padding: 2.25rem 5%;
    &--desc {
        font-size: 0.88rem;
        letter-spacing: 0.03rem;
        line-height: 1.35rem;
        color: #979797;
        >span {
            color: #fff;
            background-color: #7FAEBE;
            border-radius: 10.5px;
            padding: 2px 5px;
        }
    }
}