@import "../setting/_variables.scss";
@import "../setting/_reset.scss"; 
@import "../setting/_mixins.scss"; 


.barcode-container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .barcode711 {
        max-width: 95%;
        height: auto;
        margin: 0 auto;
    }
    .barcode img {
        max-width: 95%;
        height: auto;
        min-width: 70vw;
        max-height: 75px;
    }
    .barcode {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &-text {
            text-align: center;
        }
    }
}

@include rwd_big(1100px) {
    .barcode-container {
        padding-left: 0;
        padding-top: 150px;
        transform: rotate(0deg);
        align-items: center;
    }
}